In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("https://github.com/tommella90/milano-housing-price/blob/main/milano_housing_02_2_23.xlsx?raw=true")

1. avere l'elenco degli appartamenti in vendita in un certo quartiere inserito dall'utente. Visualizzare gli appartamenti in ordine di data

In [ ]:
#0.5 punti

In [ ]:
quartiere = input("inserisci il nome di un quartiere: ")
df[df["neighborhood"].str.contains(quartiere, na = False)]

2. avere l'elenco dei quartieri presenti nel dataset. Visualizzare l'elenco in ordine alfabetico senza ripetizioni (estrarre tutti i quartieri e poi usare i metodi delle liste/tuple/insiemi/dizionari per eliminare i doppioni)

In [ ]:
#0.5 punti

In [5]:
quartieri = list(set(df["neighborhood"].dropna()))
quartieri.sort()
print(quartieri)

['affori', 'amendola - buonarroti', 'arco della pace', 'arena', 'argonne - corsica', 'ascanio sforza', 'baggio', 'bande nere', 'barona', 'bicocca', 'bignami - ponale', 'bisceglie', 'bocconi', 'bologna - sulmona', 'borgogna - largo augusto', 'bovisa', 'bovisasca', 'brera', 'bruzzano', 'buenos aires', "ca' granda", 'cadore', 'cadorna - castello', 'cantalupa - san paolo', 'carrobbio', 'cascina dei pomi', 'cascina merlata - musocco', 'casoretto', 'cenisio', 'centrale', 'cermenate - abbiategrasso', 'certosa', 'chiesa rossa', 'cimiano', 'citt√† studi', 'city life', 'comasina', 'corso genova', 'corso san gottardo', 'corvetto', 'crescenzago', 'de angeli', 'dergano', 'dezza', 'duomo', 'famagosta', 'farini', 'figino', 'frua', 'gallaratese', 'gambara', 'garibaldi - corso como', 'ghisolfa - mac mahon', 'giambellino', 'gorla', 'gratosoglio', 'greco - segnano', 'guastalla', 'indipendenza', 'inganni', 'isola', 'istria', 'lambrate', 'lanza', 'lodi - brenta', 'lorenteggio', 'maggiolina', 'martini - insubria', 'melchiorre gioia', 'missori', 'molise - cuoco', 'monte rosa - lotto', 'monte stella', 'montenero', 'morgagni', 'moscova', 'muggiano', 'navigli - darsena', 'niguarda', 'ortica', 'pagano', 'palestro', 'paolo sarpi', 'parco lambro', 'parco trotter', 'pasteur', 'pezzotti - meda', 'piave - tricolore', 'piazza napoli', 'piazzale siena', 'plebisciti - susa', 'ponte lambro', 'ponte nuovo', 'porta nuova', "porta romana - medaglie d'oro", 'porta venezia', 'porta vittoria', 'portello - parco vittoria', 'prato centenaro', 'precotto', 'primaticcio', 'qt8', 'quadrilatero della moda', 'quadronno - crocetta', 'quartiere adriano', 'quartiere feltre', 'quartiere forlanini', 'quartiere olmi', 'quarto cagnino', 'quarto oggiaro', 'quinto romano', 'quintosole - chiaravalle', 'repubblica', 'ripamonti', 'rogoredo', 'roserio', 'rovereto', 'rubattino', 'san babila', 'san carlo', 'san siro', 'san vittore', "sant'ambrogio", 'santa giulia', 'scala - manzoni', 'sempione', 'solari', 'ticinese', 'tre castelli - faenza', 'trenno', 'tripoli - soderini', 'turati', 'turro', 'udine', 'vercelli - wagner', 'via dei ciclamini 11', 'via giuseppina lazzaroni', 'via valsesia', 'vialba', 'viale ungheria - mecenate', 'vigentino - fatima', 'villa san giovanni', 'vincenzo monti', 'washington', 'zara']

3. 3. avere l'elenco dei quartieri presenti nel dataset. Visualizzare l'elenco in ordine alfabetico senza ripetizioni (usare i metodi di pandas per eliminare i doppioni)

In [ ]:
#0.5 punti

In [ ]:
df[["neighborhood"]].drop_duplicates().sort_values(by="neighborhood").dropna()

In [ ]:
df2 = sorted(df["neighborhood"].dropna().unique())  #unique: rimuove duplicati
df2

4. visualizzare il prezzo medio di una zona di Milano inserita dall'utente

In [ ]:
#0.5 punti

In [ ]:
zona = input("inserisci una zona: ")
dfZona = int(df[df["neighborhood"] == zona][["price"]].mean())
dfZona

5. visualizzare il prezzo medio di ogni quartiere di Milano. Ordinare i risultati in ordine decrescente sul prezzo medio

In [ ]:
#1 punto

In [ ]:
dfMedia = df.groupby("neighborhood")[["price"]].mean().sort_values(by = "price", ascending = False).reset_index().dropna()
dfMedia

6. scrivere una funzione che converta un prezzo in euro in un'altra valuta. La funzione ha due parametri: il prezzo in euro e il tasso di conversione euro-altra valuta. Utilizzare questa funzione per modificare l'esercizio 5 facendo inserire all'utente il tasso di conversione e visualizzando i risultati nella nuova valuta.

In [ ]:
#0.5 punti

In [ ]:
def convertitore(euro, tasso): 
  return euro * tasso

tasso = float(input("inserisci un tasso di conversione: "))
dfMedia["mediaConvertito"] = convertitore(dfMedia["price"], tasso)
dfMedia