<a href="https://colab.research.google.com/github/Riccardolotorto/PythonPandasNuovo/blob/main/Pandas_Sommativo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [16]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/BikeStores.xls", sheet_name="products")

1. l'elenco dei prodotti di una certa categoria inserita dall'utente. Ordinare i prodotti in ordine alfabetico sul nome

In [ ]:
categoria = int(input("inserisci una categoria da 1 a 7 "))
df[df.category_id == categoria][["product_name"]].sort_values(by="product_name")

2. l'elenco dei prodotti che hanno un prezzo compreso tra due estremi inseriti dall'utente. Ordinare i prodotti in ordine decrescente sul prezzo

In [ ]:
minimo = int(input("inserisci il prezzo minimo"))
massimo = int(input("inserisci il prezzo massimo "))
df[(df.list_price >= minimo) & (df.list_price <= massimo)].sort_values(by="list_price", ascending = False)

3.  l'elenco dei prodotti che hanno nel nome una stringa inserita dall'utente. Ordinare i prodotti in ordine alfabetico.

In [ ]:
stringa = input("inserisci una stringa")
df[df.product_name.str.contains(stringa)].sort_values(by="product_name")

4. il numero di prodotti per ogni categoria.

In [ ]:
dfcategorie = df.groupby("category_id")[["product_name"]].count().reset_index()
dfcategorie

5. visualizzare la categoria con piÃ¹ prodotti

In [ ]:
dfcategorie[dfcategorie.product_name == dfcategorie.product_name.max()][["category_id"]]

5. il grafico che rappresenta il numero di prodotti per ogni categoria

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
parole = dfcategorie.category_id
dati = dfcategorie.product_name

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(parole, dati, label='numero di prodotti', color = ["red", "blue", "green"])
ax.set_ylabel('numero')
ax.set_xlabel('categorie')
ax.set_title('numero di prodotti per ogni categoria')
ax.legend()

6. mostrare le prime dieci righe del dataframe in due modi

In [ ]:
df.head(10)

In [ ]:
df[:10]

7. visualizzare solo le righe 10, 20, 30

In [ ]:
df.iloc[[10, 20, 30]]

8. contare quante categorie ci sono

In [ ]:
len(set(df.category_id))

9. leggere il foglio categories del file excel

In [12]:
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/BikeStores.xls", sheet_name="categories")

In [ ]:
df2

10. aggiungere una colonna all'altro dataframe che contenga le categorie non numeriche

In [18]:
df = df.merge(df2, on = "category_id")

In [ ]:
df

11. contare quanti prodotti sono mountain bike

In [ ]:
len(df[df.category_name.str.contains("Mountain")])

12. creare un dizionario contenenti le stesse informazioni dell'esercizio 4

In [ ]:
dizionario = dict(zip(dfcategorie.category_id, dfcategorie.product_name))
dizionario

13. trasformare il dizionario appena creato in un nuovo dataframe

In [ ]:
dfDizionario = pd.DataFrame(dizionario.items(), columns = ["Numero_categoria", "numero_di_prodotti"])
dfDizionario