In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true", sheet_name="customers")

In [ ]:
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127.0
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008.0
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278.0
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553.0
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820.0
...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,NaN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301.0
1441,1442,Cassie,Cline,NaN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201.0
1442,1443,Lezlie,Lamb,NaN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722.0
1443,1444,Ivette,Estes,NaN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424.0
1444,1445,Ester,Acevedo,NaN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580.0

1. tutte le informazioni su un cliente di cui si inserisce il nome e il cognome

In [ ]:
nome = input("inserisci il nome del cliente:")
cognome = input("inserisci il cognome del cliente:")
df[(df["first_name"] == nome.capitalize()) & (df["last_name"] == cognome.capitalize())]

2. l'elenco dei clienti che risiedono in una certa città inserita dall'utente

In [ ]:
citta = input("inserisci il nome di un città:")
df[df["city"] == citta.capitalize()]

3.  il numero di clienti per ogni stato.

In [ ]:
stati = df.groupby("state").count()[["first_name"]].sort_values(by="first_name").reset_index()
stati

4. lo stato con il maggior numero di clienti

In [ ]:
stati[stati["first_name"] == stati["first_name"].max()][["state"]]

5. tre grafici (a barre orizzontali, a barre verticali, a torta) che rappresentano il numero di clienti per ogni stato

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
stringhe = stati["state"]
dati = stati["first_name"]
fig, ax = plt.subplots(figsize=(15,8))
ax.bar(stringhe, dati, label='numero di clienti')
ax.set_title("numero di clienti per ogni stato")
ax.set_xlabel("stati")
ax.set_ylabel("numero clienti")

In [ ]:
stringhe = stati["state"]
dati = stati["first_name"]
fig, ax = plt.subplots(figsize=(15,8))
ax.barh(stringhe, dati, label='numero di clienti')
ax.set_title("numero di clienti per ogni stato")
ax.set_xlabel("numero clienti")
ax.set_ylabel("sati")

In [ ]:
stringhe = stati["state"]
dati = stati["first_name"]
plt.figure(figsize=(16, 8))
plt.pie(dati, labels=stringhe, autopct='%1.1f%%')
plt.show()

6. il nome, il cognome e il telefono dei clienti di cui non si conosce la mail

In [ ]:
df[df['email'].isnull()][["first_name", "last_name", "phone"]]

7.  il nome e il cognome dei clienti che hanno la mail di un particolare provider inserito dall'utente (esempio google.com)

In [ ]:
provider = input("inserisci il provider (es: @gmail.com): ")
df[df["email"].str.contains(provider, na = False)][["first_name", "last_name"]]   #na = False: non tiene conto di valori nulli (punti, chiocciole...)